<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
<h1>Board Insert</h1>

<form name="insertForm" id="insertForm" method="post" action="/board/insert"
      style="width:600px;">
    <div><span>회원번호</span> <input type="text" name="user_number" id="user_number" value="1" /></div>
    <div><span>제목</span> <input type="text" name="board_title" id="board_title" /></div>
    <div><span>작성자</span> <input type="text" name="user.name" id="user.name"
                                th:value="${ session.user!=null ? session.user.name : '' }" /></div>
    <div>
        <span>상세</span>
        <textarea name="board_content" id="board_content" style="width: 100%; height: 100px;">
상세 내용 입니다.
상세 내용 입니다.
상세 내용 입니다.
상세 내용 입니다.
상세 내용 입니다.
상세 내용 입니다.
상세 내용 입니다.
            </textarea>
    </div>
</form>

<input type="button" value="등록" onclick="insert();"/>
<input type="button" value="취소" onclick="history.back();"/>

<script type="text/javascript">
    var insert = function(){
        if (confirm("등록 하시겠습니까?")) {
            $('#insertForm').submit();
            alert("게시물이 등록 되었습니다.")
        }
    };
</script>

</body>
</html>