<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!--    <link rel="stylesheet" href="/css/bootstrap.css">-->
<!--    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
<!--    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
</head>
<body>
<h1>Board View</h1>


<form name="viewForm" id="viewForm" method="get" style="width:600px;">

    <div><span>글번호</span> <span th:text="${board.board_num}">글번호</span></div>

    <div><span>제목</span> <span th:text="${board.board_title}">제목</span></div>

    <div><span>등록일자</span> <span th:text="${#dates.format(board.board_register_date, 'YYYY-MM-dd HH:mm')}">등록일자</span>
    </div>

    <div>
        <span>상세</span>
        <div th:text="${board.board_content}"></div>
    </div>
</form>

<input type="button" value="수정" onclick="modifyBoard();"/>
<input type="button" value="삭제" onclick="deleteBoard();"/>
<input type="button" value="목록" onclick="listBoard();"/>


<!--댓글 구현-->
<div class="my-3 p-3 bg-white rounded shadow-sm" style="padding-top: 10px">

    <form  id="replyform" name="replyform"  method="post" action="/restBoard/listReply">

        <input type="hidden" path="board_num" id="board_num"/>

        <div class="row">

            <div class="col-sm-10">

                <input type="textarea" path="reply.comment" id="reply.comment" class="form-control" rows="3" placeholder="댓글을 입력해 주세요">

            </div>

            <div class="col-sm-2">
<!--                <span th:text="${reply.reply_id}">작성자</span>-->
            </div>
                <button type="button" class="btn btn-sm btn-primary" id="insertReply" style="margin-left: 15px; margin-top: 10px"> 등록 </button>



        </div>

    </form>

</div>

<div class="my-3 p-3 bg-white rounded shadow-sm" style="padding-top: 10px">

    <h6 class="border-bottom pb-2 mb-0">Reply list</h6>

    <div id="replyList"></div>

</div>
<script>

    // 이전 코드 생략

    function showReplyList(){

        var url = "/restBoard/listReply";

        var paramData = {"board_num" : "${board.board_num}"};

        $.ajax({

            type: 'POST',

            url: url,

            data: paramData,

            dataType: 'json',

            success: function(result) {

                var htmls = "";

                if(result.length < 1){

                    htmls.push("등록된 댓글이 없습니다.");

                } else {

                    $(result).each(function(){

                        htmls += '<div class="media text-muted pt-3" id="rid' + this.rid + '">';

                        htmls += '<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder:32x32">';

                        htmls += '<title>Placeholder</title>';

                        htmls += '<rect width="100%" height="100%" fill="#007bff"></rect>';

                        htmls += '<text x="50%" fill="#007bff" dy=".3em">32x32</text>';

                        htmls += '</svg>';

                        htmls += '<p class="media-body pb-3 mb-0 small lh-125 border-bottom horder-gray">';

                        htmls += '<span class="d-block">';

                        htmls += '<strong class="text-gray-dark">' + this.reply_id + '</strong>';

                        htmls += '<span style="padding-left: 7px; font-size: 9pt">';

                        htmls += '<a href="javascript:void(0)" onclick="fn_updateReply(' + this.rid + ', \'' + this.reply_id + '\', \'' + this.comment + '\' )" style="padding-right:5px">수정</a>';

                        htmls += '<a href="javascript:void(0)" onclick="fn_deleteReply(' + this.rid + ')" >삭제</a>';

                        htmls += '</span>';

                        htmls += '</span>';

                        htmls += this.comment;

                        htmls += '</p>';

                        htmls += '</div>';



                    });	//each end



                }

                $("#replyList").html(htmls);



            }	   // Ajax success end

        });	// Ajax end

    }

</script>
<script>

    $(document).ready(function(){

        showReplyList();

    });

</script>


<script type="text/javascript" th:inline="javascript">

    var board_num = /*[[ ${board.board_num} ]]*/;

    var modifyBoard = function () {
        $('#viewForm')
            .attr('action', '/board/update/' + board_num)
            .attr('method', 'get')
            .submit();
    };


    var deleteBoard = function () {
        if (confirm('삭제하시겠습니까?')) {
            $('#viewForm')
                .attr('action', '/board/delete/' + board_num)
                .attr('method', 'post')
                .submit();
        }
        alert('게시물이 삭제 되었습니다.');
    };
    var listBoard = function () {
        location.href = '/board/list';
    };

</script>

</body>
</html>