<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
<h1>User View</h1>


<form name="viewForm" id="viewForm" method="get" style="width:600px;">

    <div><span>아이디</span> <span th:text="${user.id}">아아디</span></div>

    <div><span>회원번호</span> <span th:text="${user.user_number}">회원번호</span></div>

<!--    <div><span>등록일자</span> <span th:text="${#dates.format(board.qna_regdate, 'YYYY-mm-dd HH:mm')}">등록일자</span></div>-->

    <div>
        <span>주소</span>
        <div th:text="${user.address}">주소</div>
    </div>
</form>

<input type="button" value="수정" onclick="modifyUser();"/>
<input type="button" value="삭제" onclick="deleteUser();"/>
<input type="button" value="목록" onclick="listUser();"/>


<script type="text/javascript" th:inline="javascript">

    var user_no = /*[[ ${user.user_number} ]]*/;

    var modifyUser = function(){
        $('#viewForm')
            .attr('action','/user/update/' + user_no)
            .attr('method','get')
            .submit();
    };


    var deleteUser = function(){
        if(confirm('삭제하시겠습니까?')){
            $('#viewForm')
                .attr('action','/user/delete/' + user_no)
                .attr('method','post')
                .submit();
        }
    };
    var listUser = function(){
        location.href='../../user/list';
    };

</script>

</body>
</html>