<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team02.prime.mapper.BoardMapper">

<insert id="insertBoard"
            parameterType="com.team02.prime.model.BoardVO"
            useGeneratedKeys="true"
            keyProperty="board_num">
        <![CDATA[
            INSERT INTO board (
                board_title, board_passwd, board_content, board_regdate
            )
            VALUES (
                #{board_title}, password(#{board_passwd}), #{board_content},now()
            )
        ]]>
    </insert>

    <update id="updateBoard" parameterType="com.team02.prime.model.BoardVO">
        UPDATE board
        SET
            board_title = #{board_title},
            board_content = #{board_content},
            board_passwd = password(#{board_passwd})
        WHERE board_num = #{board_num}

    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE board_num = #{board_num}
    </delete>

    <select id="selectBoard" parameterType="Integer" resultType="com.team02.prime.model.BoardVO">
        SELECT
            board_num, user_number, board_content, board_passwd, board_regdate
        FROM board
        WHERE board_num = #{board_num}
    </select>

    <select id="selectBoardList"
            parameterType="com.team02.prime.model.BoardPaging"
            resultType="com.team02.prime.model.BoardVO">
        SELECT
        b.board_num, b.user_number, b.board_content, b.board_regdate
        , u.id, u.name
        FROM board b
        inner join user u on b.user_number = u.user_number
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            AND b.board_content like concat('%', ${searchKeyword}, '%')
        </if>
        ORDER BY b.board_num DESC
        LIMIT #{limitBegin}, #{articleCount}
    </select>


    <select id="selectBoardListCount"
            parameterType="com.team02.prime.model.BoardPaging"
            resultType="int">
        select count(1) from board
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            AND b.board_content like concat('%', ${searchKeyword}, '%')
        </if>
    </select>



</mapper>